* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}

.parent {
    display: flex;
    width: 1000px;
    height: 700px;
    /*background-color: gray;*/
    flex-direction: column;
    margin: 0 auto;
    border: peru 2px solid;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
}

.block1 {
    display: flex;
    height: 150px;
    width: 100%;
    /*background-color: yellowgreen;*/
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: peru 2px solid;
}

.block2 {
    display: flex;
    height: 100%;
    flex-direction: row;
}

.brick1 {
    width: 250px;
    /*background-color: crimson;*/
    border-right: peru 2px solid;
}

.brick2 {
    width: 100%;
    /*background-color: orange;*/
}

.brick3 {
    display: flex;
    width: 200px;
    height: 75px;
    /*background-color: orange;*/
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
    font-weight: bolder;
    font-size: 20px;
}

.brick4 {
    display: flex;
    /*background-color: darkgreen;*/
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.brick5 {
    height: 40px;
    /*background-color: aquamarine;*/
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.signing {
    margin-right: 12px;
    background-color: orange;
    padding: 5px 8px 5px 8px;
    color: white;
    border-radius: 5px;
    border: orange 1px;
    user-select: none;
}

.signing a {
    color: white;
}

.refs {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.menu{
    color: black;
    font-weight: bolder;
    margin-right: 12px;
}

.search-panel{
    display: flex;
    flex-direction: row;
    margin-right: 12px;
}

.search-button{
    background-color: orange;
    padding: 5px 8px 5px 8px;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: orange 1px;
}

.search-input{
    height: 26px;
    padding: 5px 8px 5px 8px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px orange solid;
}

form{
    display: flex;
    flex-direction: row;
}